---
import Navbar from '../components/navbar.astro';
import Layout from '../layouts/Layout.astro';
import ListCelula from '../components/listCelula.astro';
import Footer from '../components/footer.astro';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Células</title>
</head>
<body>
    <Navbar />
    <Layout>
        <ListCelula />
    </Layout>
    <Footer />
</body>
</html>