---
import Navbar from "../components/navbar.astro";
import InicioList from "../components/inicioList.astro";
import Footer from "../components/footer.astro";
import Layout from "../layouts/Layout.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/Dou2020/Mensajeros/refs/heads/main/src/assets/Sinai.jpg"> 
    <title>Dominical</title>
</head>
<body>
    <Navbar option="D" />
    <Layout title="Escuela Dominical" subtitle="Todos los domingos a las 9:30 am">
        <InicioList />
    </Layout>
    <Footer />
</body>
</html>