---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.astro';
import NotionList from '../components/notionList.astro';
import Footer from '../components/footer.astro';
// Contenido a las paginas
const title = "Actividades de Jóvenes";
const subtitle = "Todos los sábados a las 7:00 pm";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/Dou2020/Mensajeros/refs/heads/main/public/icono.png"> 
    <title>Jóvenes</title>
</head>
<body>
    <Navbar option="J" />
    <Layout title={title} subtitle={subtitle}>
        <NotionList />
    </Layout> 
    <Footer />
</body>
</html>