  <!-- Sección: Galería de Imágenes -->
  <section class="py-16 bg-gray-50" id="galeria">
    <div class="max-w-6xl mx-auto px-4">
      <h2 class="text-4xl font-bold text-center text-gray-800 mb-12">Galería de Actividades</h2>

      <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div class="grid gap-4">
          <div>
            <img class="h-auto max-w-full rounded-lg" src="https://github.com/Dou2020/Mensajeros/blob/main/src/assets/galery_mensajeros.jpg?raw=true" alt="">
          </div>
          <div>
            <img class="h-auto max-w-full rounded-lg" src="https://github.com/Dou2020/Mensajeros/blob/main/src/assets/galery_mensajeros2.jpg?raw=true" alt="">
          </div>
          <div>
            <img class="h-auto max-w-full rounded-lg" src="https://github.com/Dou2020/Mensajeros/blob/main/src/assets/galery_mensajeros3.jpg?raw=true" alt="">
          </div>
        </div>
        <div class="grid gap-4">
          <div>
            <img class="h-auto max-w-full rounded-lg" src="https://github.com/Dou2020/Mensajeros/blob/main/src/assets/galery_mensajeros4.jpg?raw=true" alt="">
          </div>
          <div>
            <img class="h-auto max-w-full rounded-lg" src="https://github.com/Dou2020/Mensajeros/blob/main/src/assets/galery_mensajeros5.jpg?raw=true" alt="">
          </div>
          <div>
            <img class="h-auto max-w-full rounded-lg" src="https://github.com/Dou2020/Mensajeros/blob/main/src/assets/galery_mensajeros6.jpg?raw=true" alt="">
          </div>
        </div>
        <div class="grid gap-4">
          <div>
            <img class="h-auto max-w-full rounded-lg" src="https://github.com/Dou2020/Mensajeros/blob/main/src/assets/galery_mensajeros7.jpg?raw=true" alt="">
          </div>
          <div>
            <img class="h-auto max-w-full rounded-lg" src="https://github.com/Dou2020/Mensajeros/blob/main/src/assets/galery_mensajeros8.jpg?raw=true" alt="">
          </div>
          <div>
            <img class="h-auto max-w-full rounded-lg" src="https://github.com/Dou2020/Mensajeros/blob/main/src/assets/galery_mensajeros9.jpg?raw=true" alt="">
          </div>
        </div>
        <div class="grid gap-4">
          <div>
            <img class="h-auto max-w-full rounded-lg" src="https://github.com/Dou2020/Mensajeros/blob/main/src/assets/galery_mensajeros10.jpg?raw=true" alt="">
          </div>
          <div>
            <img class="h-auto max-w-full rounded-lg" src="https://github.com/Dou2020/Mensajeros/blob/main/src/assets/galery_mensajeros11.jpg?raw=true" alt="">
          </div>
          <div>
            <img class="h-auto max-w-full rounded-lg" src="https://github.com/Dou2020/Mensajeros/blob/main/src/assets/galery_mensajeros12.jpg?raw=true" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>